body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    color: blue;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
    font-family: "Times New Roman", Georgia, Times, serif;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid blue;
}

table {
    border-collapse: collapse ;
    margin: 0px auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
.form-text{
   font-family: Georgia, 'Times New Roman', Times, serif ;
}
